/* ====================================== */
/* ============= IMPORTS ================ */
/* ====================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* ====================================== */
/* ===== GLOBAL RESET & BASE STYLES ===== */
/* ====================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Roboto Condensed", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f5f5fa;
}

/* ====================================== */
/* ============ TYPOGRAPHY ============== */
/* ====================================== */
.body-title {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.0178571429em;
    color: #000000;
}

/* ====================================== */
/* ========== PAGE WRAPPER ============= */
/* ====================================== */
.page-wrapper {
    width: 100%;
    height: 100%;
}

/* ====================================== */
/* ========== MAIN CONTENT ============== */
/* ====================================== */
.main-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: #f5f5fa;
}

.general-content {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #00000020;
}

.general-content-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #00000020;
    z-index: 999;
}

.general-content-bottom {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 8px;
    gap: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.header-left {
    display: flex;
    flex: 0 0 auto;
}

.header-right {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 0 0 auto;
}

.header-item {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    gap: 8px;
}

.header-button {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #00000020;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.header-button:hover {
    background-color: #f5f5fa;
}



.module-content.module-surface {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 8px;
    z-index: 999;
}

.module-surface .menu-content {
    width: 280px;
    height: 100%;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #00000020;
}.menu-list {
    display: flex
;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 4px;
    user-select: none;
}.menu-link {
    display: flex
;
    flex: 0 0 auto;
    flex-direction: row;
    width: 100%;
    height: 40px;
    color: #000000;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}.menu-link-icon {
    display: flex
;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
}.menu-link-text {
    display: block;
    flex: 1 1 auto;
    text-align: start;
    overflow: hidden;
    align-self: center;
}

.menu-link:hover {
    background-color: #f5f5fa;
}

.menu-link.active {
    background-color: #f5f5fa;
}

.active {
    display: flex;
}

.disabled {
    display: none;
}/* ====================================== */
/* =========== VIEW CONTAINER =========== */
/* ====================================== */
.view-container {
    display: flex; /* Usamos flex para que ocupe el espacio */
    flex: 1;
    width: 100%;
    height: 100%;
}

.view-container.disabled {
    display: none; /* Ocultamos la vista que no está activa */
}